@import 'normalize';

@mixin button {
  color: white;
  height: 48px;
  border: none;
  border-radius: 4px;
  outline: none;
  background-color: #005eb8;
  padding: 1rem;
  width: 100%;
  transition: opacity .5s;

  &:focus {
    outline: none;
  }

  &:disabled {
    opacity: 0.25;
  }
}

html * {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #292929;
}

html, body {
  margin: 0;
  height: 100vh;
  min-height: 100%;
}

.application {
  height: 100%;
}

.top-bar {
  height: 130px;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  margin: auto;
  width: calc(100vw - 4rem);
  border-bottom: 2px solid #2c98ff;
}

.app-name {
  color: #003e78;
  font-size: 1rem;
  text-align: center;
}

.page {
  padding: 2rem;
}

.form {
  margin: auto;
  padding: 1rem;
  background-color: white;
  border-radius: 5px;
  position: relative;
  top: 10rem;
  width: 80vw;
  max-width: 21rem;

  &_label {
    width: 100%;
    font-size: 12px;
    font-weight: bold;
  }

  &_input {
    border: none;
    border-bottom: 1px solid #005eb8;
    margin: 1rem 0;
    width: 100%;

    &:focus {
      outline: none;
    }
  }

  &_error {
    font-size: 12px;
    color: red;
    &--container {
      height: 40px;
    }
  }

  &_btn {
    @include button;
  }
}

canvas {
  margin: auto;
  display: flex;
}

button {
  @include button;
}

.content {
  margin: auto;
  width: calc(100% - 4rem);
  max-width: 600px;
  height: calc(100% - 130px);
  display: flex;
  flex-direction: column;

  .qr-code {
    margin: auto;
    width: 100%;
    height: auto;
    image-rendering: pixelated;
  }

  button {
    align-self: flex-end;
    margin-bottom: 2rem;
  }
}

.qr-choice-warning {
  color: red;
  font-weight: bolder;
  padding: 1rem 0;
}
