@import 'normalize';
@import 'ember-modal-dialog/ember-modal-structure';
@import 'ember-modal-dialog/ember-modal-appearance';

@mixin button {
  color: white;
  height: 48px;
  border: none;
  border-radius: 4px;
  outline: none;
  background-color: #005eb8;
  padding: 1rem;
  width: 100%;
  transition: opacity .5s;

  &:focus {
    outline: none;
  }

  &:disabled {
    opacity: 0.25;
  }
}

html * {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #292929;
}

html, body {
  margin: 0;
  height: 100vh;
  min-height: 100%;
}

.application {
  height: 100%;
}

.top-bar {
  height: 80px;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  padding: 0 1rem;
  margin: auto;
  width: 100vw;
  max-width: 64rem;
  border-bottom: 2px solid #2c98ff;
}

.app-name {
  margin-left: 1rem;
  color: #003e78;
  font-size: 1rem;
  align-self: center;
}

.page {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-width: 876px;
  height: calc(100% - 5rem);
  margin: auto;

  &_icon {
    position: relative;
    height: 32px;
    width: 32px;
    top: .5rem;
  }

  &_header {
    font-weight: 600;
    color: #003e78;
    margin-bottom: 1rem;
    width: 100%;
    line-height: 2;
  }
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 0 0.01rem 1rem;
  background-color: rgba(216,216,216, 0.3);
}

.wards {
  &_container {
    flex-grow: 1;
    padding: 1rem;
    background-color: #003e78;
  }

  &_header {
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    padding-top: .5rem;

    &--container {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 1.5rem;
    }
  }

  &_link {
    &--arrow {
      position: relative;
      top: -.2rem;
      left: 1rem;
    }

    &--button {
      border-radius: 4px;
      background-color: white;
      height: 48px;
      width: 124px;
      text-align: center;
      line-height: 3.2;
      text-decoration: none;
      color: #005eb8;
    }

    &--container {
      width: 3rem;
    }
  }

  &_body-text {
    color: white;
  }

  &_card {
    display: flex;
    justify-content: space-between;
    height: 1.125rem;
    background-color: white;
    padding: 1rem;
    line-height: 1;
    border-bottom: 2px solid #d8d8d8;

    &--ward-name {
      width: 110px;
    }

    &--beds {
      &-number {
        line-height: 0.75;
        font-size: 1.5rem;
      }

      &-text {
        font-size: .75rem;
        line-height: 1.5;
      }
    }

  }
}

.card {
  background-color: white;
  width: calc(100% - 2rem);
  max-width: 382px;
  border-radius: 4px;
  padding: 1rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: 450px) {
    max-width: 20.5rem;
  }

  @media (min-width: 769px) {
    max-width: 382px;
  }

  &_last-card {
    padding-right: 0;
  }

  &_header {
    width: 100%;
    height: 2rem;
    font-size: 12px;
    font-weight: 600;
    display: flex;

    &-text {
      font-size: 12px;
      margin: 0 .5rem;
      font-weight: normal;
      height: 1.5rem;
      align-self: center;
    }

    // &--low {
    //   color: #b60000;
    // }

    // &--medium {
    //   color: #003e78;
    // }

    // &--high {
    //   color: #22661f;
    // }
  }

  &_data-block {
    width: 98px;
    height: 72px;

    &--value {
      font-size: 32px;
      font-weight: 600;
    }

    &--label {
      font-size: 12px;
    }
  }

  &_btn {
    background: none;
    color: #005eb8;
    position: relative;
    top: -7.5rem;
    left: 90%;
    width: 2rem;
    height: 1rem;
    padding: 0;

    &.register {
      width: 8rem;
      top: -7.5rem;
      left: 53%;

      &.open {
        width: 2rem;
        top: 1.1rem;
        left: 90%;
      }
    }
  }

  &_icon {
    position: relative;
    width: 24px;
    height: 24px;
  }
}

// .edit-beds {
//   &_form {
//     padding: 1rem 2rem;

//     &.total-beds {
//       padding: 0;
//       width: 100%;
//     }
//   }

//   &_input.form_input {
//     line-height: 2.5;
//     margin-top: 0;
//   }

//   &_subheader {
//     font-weight: 600;
//     line-height: 1.5;
//     color: #333333;
//     margin-bottom: 1.5rem;
//   }

//   &_help-text {
//     font-size: 12px;
//     line-height: 1.33;
//     color: #737373;
//     margin-bottom: 1rem;

//     &.bold {
//       font-size: 16px;
//       font-weight: 600;
//       color: black;
//     }

//     &.error {
//       font-weight: 600;
//       color: red;
//     }
//   }

//   &_radio {
//     display: flex;
//     line-height: 1;
//     margin-bottom: 1rem;

//     &--label {
//       line-height: 1.5;
//     }

//     &--text {
//       color: #333333;
//     }
//   }
// }

.form {
  margin: auto;
  padding: 1rem;
  background-color: white;
  border-radius: 5px;
  position: relative;
  top: 10rem;
  width: 80vw;
  max-width: 21rem;

  &_header {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 2.5rem;
  }

  &_add {
    top: 0;
    max-width: 311px;
    margin: 1rem auto;
  }

  &_label {
    display: flex;
    width: 100%;
    font-weight: bold;

    span {
      padding-left: .5rem;
      color: #737373;
    }
  }

  &_input {
    border: none;
    border-bottom: 1px solid #005eb8;
    margin: 1rem 0;
    width: 100%;

    &:focus {
      outline: none;
    }
  }

  &_help-text {
    font-size: 12px;
    line-height: 1.33;
    color: #737373;
    margin-bottom: 2.5rem;
  }

  &_short-name-input {
    width: 80px;
  }

  &_error {
    font-size: 12px;
    color: red;
    &--container {
      height: 40px;
    }
  }

  &_btn {
    @include button;
  }
}

canvas {
  margin: auto;
  display: flex;
}

button {
  @include button;

  &.button--secondary {
    width: calc(100vw - 4rem);
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    background-color: #d8d8d8;
    color: #000000;
  }
}

.content {
  margin: auto;
  width: calc(100% - 4rem);
  max-width: 600px;
  display: flex;
  flex-direction: column;

  .qr-code {
    margin: auto;
    width: 100%;
    height: auto;
    image-rendering: pixelated;
  }

  button {
    align-self: flex-end;
    margin: 1rem 0;
  }

  h1 {
    margin: 2rem 0;
    font-weight: 600;
    font-size: 1.5rem;
  }

  input {
    margin: 0.5rem 0;
  }

  p {
    font-size: 12px;
  }

  .height-line {
    height: 12px;
  }

  .row {
    margin: 1rem 0;
    display: flex;

    div + div {
      flex-grow: 1;
      font-weight: 600;
      text-align: end;
    }
  }

  .badge {
    padding: 1rem;
    margin: 1rem 0;
    background-color: #005eb8;
    border-radius: 0.5rem;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;

    &--success {
      background-color: #31872d;
    }

    &--error {
      background-color: #e30a0a;
    }
  }

  .help-text {
    font-size: 12px;
    line-height: 1rem;
    color: #737373;
    margin-bottom: 1rem;

    &.bold {
      font-size: 16px;
      font-weight: 600;
      color: black;
    }

    &.error {
      font-weight: 600;
      color: red;
    }
  }
}

.qr-choice {

  &_warning {
    font-weight: 600;
    padding: 2rem;
  }

  &_final-warning {
    font-weight: 600;
  }

  &_form {
    padding: 0 2rem;
  }

  &_header {
    padding-bottom: 1rem;
  }

  &_btn {
    margin-top: 1.5rem;
    line-height: 1;
    transition: opacity .5s 3s;
  }
}

.hospital-details {
  margin-left: 1rem;
  align-self: center;
  overflow: hidden;

  div {
    margin: 0.2rem 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    strong {
      font-weight: 600;
    }
  }
}

.div-table {
  margin-top: 2rem;

  &_head {
    color: white;
    height: 48px;
    background-color: #003e78;
  }

  &_icon {
    padding-right: .5rem;

    &.delete, &.qr {
      top: .2rem;
      position: relative;
    }
  }

  &_row {
    display: flex;
  }

  &_cell {
    border-bottom: 1px solid #d8d8d8;
    line-height: 3;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &_column-0 {
    width: 2%;
    overflow: visible;
    padding-left: .75rem;
    padding-right: .75rem;
    text-align: center;

    &:not(.div-table_head) {
      background-color: rgba(216, 216, 216, 0.3);
    }
  }

  &_column-1 {
    width: 18%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  &_column-2 {
    width: 12%;
  }

  &_column-2-5 {
    overflow: visible;
    width: 13%;
  }

  &_column-3 {
    width: 10%;
  }

  &_column-4 {
    width: 20%;
  }

  &_column-5 {
    width: 25%;
  }

  &_btn {
    padding-left: 18px;
    text-align: left;
    background: none;
    color: #005eb8;
    line-height: 1;

    &.print {
      padding-left: 26px;
    }
  }
}

.banner {
  position: absolute;
  z-index: 10;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #cbe1ca;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;

  &--error {
    background-color: #f8c2c2;
  }

  &--success {
    background-color: #cbe1ca;
  }

  p {
    margin-top: 0.5rem;
    font-size: 12px;
  }

  .height-line {
    height: 17px;
    font-size: 12px;
  }

  &_title {
    display: flex;
    font-weight: 600;

    img {
      margin-right: 0.5rem;
    }
  }

  &_close {
    position: absolute;
    top: 0.25rem;
    right: 0.25rem;
  }
}

.qr-code {
  height: 0;
  width: 0;

  @media print {
    @page {
      marks: none;
    }

    visibility: visible;
    image-rendering: pixelated;
    width: 400px;
    height: 400px;
  }
}

.controls {
  display: flex;
  margin: 1rem 0;
  padding: 1rem 0;
  border-top: 2px solid #d8d8d8;
  border-bottom: 2px solid #d8d8d8;

  span {
    flex-grow: 1;
  }

  .toggle {
    width: 4rem;
    height: 1.5rem;
    background-color: #2c98ff;
    border: 1px solid #c2c2c2;
    border-radius: 0.8rem;

    &-off {
      background-color: #e30a0a;

      img {
        margin-left: 2px;
      }
    }

    &-on {
      background-color: #31872d;

      img {
        margin-left: 42px;
      }
    }

    img {
      margin-top: 2px;

      transition: margin-left 0.5s;
    }
  }
}

.instructions {
  max-width: 540px;
  margin: 2rem auto;
  width: calc(100vw - 4rem);

  p {
    margin: 1rem 0;
  }

  strong {
    font-weight: 600;
  }

  h1 {
    margin: 2rem 0;
    font-size: 1.5rem;
    font-weight: 600;
  }

  &_form {
    max-width: 360px;
  }
}





.ember-modal-overlay {
  background-color: rgba(0,0,0,0.8);
  opacity: 0;
  animation: fade .5s forwards;
}

.ember-modal-dialog {
  padding: 1.5rem 0;
  min-width: 20rem;
  max-width: 23.4375rem;
}

@keyframes fade {
  100% {
    opacity: 100;
  }
}

.modal {

  &_header {
    font-size: 1.25rem;
    padding-left: 1.5rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #d8d8d8;
  }

  &_body {
    padding: 0 1.5rem;
  }

  &_text {
    font-size: .75rem;
  }

  &_btn-container {
    padding-top: 2rem;
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }

  &_btn {
    &.cancel {
      color: #333333;
      background-color: white;
    }
  }
}

.ward-details {
  position: relative;
  padding: 1rem;
  background-color: rgba(44, 152, 255, 0.25);

  .breadcrumbs {
    display: flex;
    align-items: center;
    font-weight: 600;
    color: #003e78;

    span {
      margin: 0 0.4rem;
      color: #005eb8;
    }

    img {
      width: 2rem;
      height: 2rem;
    }
  }

  h1 {
    margin: 1rem 0 0;
    font-size: 2rem;
    font-weight: 600;
  }

  p {
    margin-bottom: 1rem;
  }

  .card {
    a {
      text-decoration: none;
      color: #005eb8;
    }

    &_header-text {
      flex-grow: 1;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.ward-beds {
  padding: 1rem;

  h1 {
    font-size: 1.5rem;
  }
}

.add-beds {
  padding: 2rem;

  h1 {
    font-size: 1.5rem;
    font-weight: 600;
  }

  p {
    margin: 0.5rem 0 2rem;
  }

  input {
    margin: 0.5rem 0;
    width: 5rem;
  }

  button {
    margin-top: 2rem;
  }

  .help-text {
    font-size: 0.75rem;
    color: #737373;
  }

  .error {
    color: #e30a0a;
  }
}
