@import 'normalize';

@mixin button {
  color: white;
  height: 48px;
  border: none;
  border-radius: 4px;
  outline: none;
  background-color: #005eb8;
  padding: 1rem;
  width: 100%;
  transition: opacity .5s;

  &:focus {
    outline: none;
  }

  &:disabled {
    opacity: 0.25;
  }
}

html * {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #292929;
}

html, body {
  margin: 0;
  height: 100vh;
  min-height: 100%;
}

.application {
  height: 100%;
}

.top-bar {
  height: 80px;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  margin: auto;
  width: calc(100vw - 4rem);
  border-bottom: 2px solid #2c98ff;
}

.app-name {
  margin-left: 1rem;
  color: #003e78;
  font-size: 1rem;
  align-self: center;
}

.page {

  &_header {
    font-size: 24px;
    font-weight: 600;
    color: #333333;
    margin-bottom: 1rem;
  }
}

.cards-container {
  padding: 2rem 2rem 0.01rem;
  background-color: rgba(216,216,216, 0.3);
}

.card {
  background-color: white;
  height: 86px;
  width: calc(100% - 2rem);
  border-radius: 4px;
  padding: 1rem;
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;

  &.with-form {
    height: 345px;
  }

  &_header {
    width: 100%;
    height: 48px;
    font-size: 48px;
    font-weight: 600;
    color: #003e78;
    line-height: 1;
  }

  &_subheader {
    width: calc(100% - 4rem);
    height: 22px;
    top: .6rem;
    position: relative;
    color: #333333;
  }

  &_btn {
    background: none;
    color: #005eb8;
    position: relative;
    top: -7.5rem;
    left: 90%;
    width: 2rem;
    height: 1rem;
    padding: 0;
  }

  &_icon {
    position: relative;
    top: -.75rem;
  }
}

.edit-beds {
  &_form {
    padding: 1rem 2rem;

    &.total-beds {
      padding: 0;
      width: 100%;
    }
  }

  &_input.form_input {
    line-height: 2.5;
    margin-top: 0;
  }

  &_subheader {
    font-weight: 600;
    line-height: 1.5;
    color: #333333;
    margin-bottom: 1.5rem;
  }

  &_help-text {
    font-size: 12px;
    line-height: 1.33;
    color: #737373;
    margin-bottom: 1rem;

    &.bold {
      font-size: 16px;
      font-weight: 600;
      color: black;
    }

    &.error {
      font-weight: 600;
      color: red;
    }
  }

  &_radio {
    display: flex;
    line-height: 1;
    margin-bottom: 1rem;

    &--label {
      line-height: 1.2;
    }

    &--text {
      color: #333333;
    }
  }
}

.form {
  margin: auto;
  padding: 1rem;
  background-color: white;
  border-radius: 5px;
  position: relative;
  top: 10rem;
  width: 80vw;
  max-width: 21rem;

  &_subheader {

  }

  &_label {
    width: 100%;
    font-size: 12px;
    font-weight: bold;
  }

  &_input {
    border: none;
    border-bottom: 1px solid #005eb8;
    margin: 1rem 0;
    width: 100%;

    &:focus {
      outline: none;
    }
  }

  &_error {
    font-size: 12px;
    color: red;
    &--container {
      height: 40px;
    }
  }

  &_btn {
    @include button;
  }
}

canvas {
  margin: auto;
  display: flex;
}

button {
  @include button;
}

.content {
  margin: auto;
  width: calc(100% - 4rem);
  max-width: 600px;
  height: calc(100% - 130px);
  display: flex;
  flex-direction: column;

  .qr-code {
    margin: auto;
    width: 100%;
    height: auto;
    image-rendering: pixelated;
  }

  button {
    align-self: flex-end;
    margin: 1rem 0;
  }

  .row {
    margin: 1rem 0;
    display: flex;

    div + div {
      flex-grow: 1;
      font-weight: 600;
      text-align: end;
    }
  }

  .badge {
    padding: 1rem;
    margin: 1rem 0;
    background-color: #005eb8;
    border-radius: 0.5rem;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;

    &--success {
      background-color: #31872d;
    }

    &--error {
      background-color: #e30a0a;
    }
  }
}

.qr-choice-warning {
  color: red;
  font-weight: bolder;
  padding: 1rem 0;
}

.hospital-details {
  margin-left: 1rem;
  align-self: center;
  overflow: hidden;

  div {
    margin: 0.2rem 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    strong {
      font-weight: 600;
    }
  }
}
