@font-face {
  font-family: 'OpenSans-SemiBold';
  src: url('fonts/OpenSans-SemiBold.ttf') format('truetype');
  font-family: OpenSans-SemiBold;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'OpenSans';
  src: url('fonts/OpenSans-Regular.ttf') format('truetype');
  font-family: OpenSans;
  font-style: normal;
  font-display: block;
}