<div class="row">
  <div class="column-labels">{{@label}}</div>
  <div class="column-data">{{@valueOne}}</div>
  <div class="column-data">{{@valueTwo}}</div>
  <div class="column-data">{{@valueThree}}</div>
</div>