{{#let this.model.hospital as |hospital|}}
  <div>{{hospital.name}}</div>
  <div>Total beds: {{hospital.totalBeds}}</div>
  <div>Unavailable beds: {{hospital.unavailableBeds}}</div>
  <div>Available beds: {{hospital.availableBeds}}</div>
{{/let}}